<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="online_shop.My.MySettings.ConnectionString" connectionString="Data Source=LAPTOP-GD393BFB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="online_shop.My.MySettings.userConnectionString" connectionString="Data Source=LAPTOP-GD393BFB;Initial Catalog=user;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>